<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <!--    &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/students}">Student Management System</a>
        </div>
    </div>
</nav>
<br>
<br>


<div class="container">
    <div class="row">
        <h1>List Students</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/student/new}" class="btn btn-primary btn-sm mb-3">
                Add Student
            </a>
        </div>
    </div>
    <table class="table table-dark table-striped">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student:${students}">
            <td th:text="${student.firstName}"></td>
            <td th:text="${student.lastName}"></td>
            <td th:text="${student.email}"></td>
            <td><a th:href="@{/student/edit/{id}(id=${student.id})}">
                <button type="button" class="btn btn-info">Update</button>
                </a>
                <a th:href="@{/student/delete/{id}(id=${student.id})}">
                    <button type="button" class="btn btn-danger"> Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>